<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> WolfTrack </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script>
        $(document).ready(function() {
            const showFields = "{{ codeSent }}";
            if (showFields === "yes") {
                $("#extra-fields").show();
                $("form[name='forgotForm']").attr("action", "/passwordReset");

                $("input[name='resetCode']").attr("required", true);
                $("input[name='newPassword']").attr("required", true);
                $("input[name='username']").val("{{ email }}").attr("readonly", true);
            } else {
                $("input[name='resetCode']").attr("required", false);
                $("input[name='newPassword']").attr("required", false);
                $("input[name='username']").attr("readonly", false);
            }
        });
    </script>
</head>

<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="{{ url_for('static', filename='images/frontImg.jpg') }}" alt="">
                <div class="text">
                    <span class="text-1"><h2>WolfTrack</h2><br></span>
                    <span class="text-2">Don't stop until you're proud!</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="{{ url_for('static', filename='images/backImg.jpg') }}" alt="">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one click</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="forgot-form">
                    {% if emailError %}
                    <p style="color: red;">{{ emailError }}</p>
                    {% elif successMessage %}
                    <p style="color: green;">{{ successMessage }}</p>
                    {% endif %}
                    <div class="title">Forgot Password</div>
                    <form name="forgotForm" action="/forgotPassword" method="post">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input id='login-username' name='username' type="email" placeholder="Enter your email" required>
                            </div>
                            <div id="extra-fields" style="display:none;">
                                <div class="input-box">
                                    <input name="resetCode" type="number" placeholder="Enter Password Reset Code" required>
                                </div>
                                <div class="input-box">
                                    <input name="newPassword" type="text" placeholder="Enter New Password" required>
                                </div>
                            </div>
                            <div id="login-error"><p class="text-red">{{forgotError}}</p></div>
                            <div class="button input-box">
                                <input type="submit" value="Submit">
                            </div>
                            <div class="text sign-up-text"><a href="/login">Login</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
